<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)" />
  <arg name="camera_info" default="rs_d435/color/camera_info" />

  <group ns="$(arg uav_name)">
    <node name="camera_fov_marker" pkg="mrs_rviz_plugins" type="camera_fov_marker.py" output="screen" >

      <param name="length" value="10.0" />
      <param name="line_thickness" value="0.1" />

      <param name="color/r" value="1.0" />
      <param name="color/g" value="0.0" />
      <param name="color/b" value="0.0" />
      <param name="color/a" value="1.0" />

      <remap from="~camera_info" to="$(arg camera_info)" />

    </node>
  </group>

</launch>
